@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #3f51b5;
  --accent-color: #ff5722;
  --neutral-color: #d4d4d4;
  --complementary-color: #4caf50;
  --secondary-color: #e3f2fd;
  --highlight-color: #ffeb3b;

  --mainHover-color: #5c6bc0;
}

.signInBtn {
  border: 2px solid var(--main-color);
  background-color: transparent;
  margin-right: 15px;
}

.signInBtn:hover {
  background-color: var(--mainHover-color);
  border: 2px solid var(--mainHover-color);
  color: white;
}

.signUpBtn {
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
}

.signUpBtn:hover {
  background-color: var(--mainHover-color);
  border: 2px solid var(--mainHover-color);
}

.getStartedBtn {
  background-color: var(--main-color);
  color: white;
}

.getStartedBtn:hover {
  background-color: var(--mainHover-color);
}

.fill-current {
  fill: var(--main-color);
}

.navbar li a:hover {
  background-color: var(--neutral-color);
}

.navbar li a:active {
  background-color: var(--main-color) !important;
  color: white !important;
}
